$blue: #2196F3;

.ant-tabs-nav-wrap {
    background: white;
    box-sizing: border-box;
    border-radius: 5px;
    height: 50px;
}

.ant-tabs-card>.ant-tabs-nav .ant-tabs-tab-active {
    .ant-tabs-tab-btn {
        color: white;
    }

    background: $blue;
}

.ant-tabs-card.ant-tabs-top>.ant-tabs-nav .ant-tabs-tab+.ant-tabs-tab {
    margin: 0;
}

.ant-tabs-card>.ant-tabs-nav .ant-tabs-tab {
    border: none;
}

.ant-tabs-card.ant-tabs-top>.ant-tabs-nav .ant-tabs-tab {
    border-radius: 0 0 0 0;
}