.filters {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    width: 250px;

    .ant-checkbox-wrapper {
        height: 40px;
        padding: 10px 20px 10px 20px;
    }

    .ant-checkbox-group {
        display: flex;
        flex-direction: column;

        .ant-checkbox-group-item {
            height: 40px;
            padding: 10px 20px 10px 20px;
            margin: 0;
        }:hover{
            background-color: #F1FCFF;
        }
    }
    .transplants{
        padding: 0 20px 0 20px;
    }
}